.deck {
  width: 80px;
  height: 125px;
  background-image: url(../../assets/img/karte/back-of-the-card.jpg);
  background-size: cover;
}

.l-segment {
  padding-left: 16px;
}

.game-table {
  height: 100vh;
}

.opp-cards {
  flex: 1;
}

.board {
  flex: 2;
}

.my-cards {
  flex: 2;
  align-items: center;
}


.my {
  height: 150px; 
	width: 100px;
	display: inline;
	float: left;
	margin-right: 5px;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 5px;
}

.opponent {
  height: 75px; 
	width: 50px;
	display: inline;
	float: left;
	margin-right: 5px;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 5px;
}


.table {
  position: relative;
	left: 150px;
	margin-bottom: -90px;
	height: 120px; 
	width: 80px;
	margin-right: 5px;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 5px;
}

.score-and-help {
	padding: 64px 0px;
	justify-content: space-between;
}